In [2]:
import pandas as pd

In [3]:
import numpy as np
from datetime import datetime
from datetime import datetime, timedelta

In [16]:
df_glucose = pd.read_csv('path'', sep=',')

In [ ]:
print(df_glucose.to_string())

In [18]:
df_glucose = df_glucose.sort_values(by=['id', 'Time'], ascending=True)

In [20]:
def give_fasting_state(row):
    
    time = row["Time"]
    
    time = datetime.strptime(time, "%Y-%m-%d %H:%M:%S")
    time =  time.strftime('%H:%M:%S')
    time = datetime.strptime(time,'%H:%M:%S').time()
    
    
    
    breakfast_begin = datetime.strptime("08:00:00", "%H:%M:%S").time()
    breakfast_end = datetime.strptime("10:00:00", "%H:%M:%S").time()

    lunch_begin = datetime.strptime("12:00:00", "%H:%M:%S").time()
    lunch_end = datetime.strptime("14:00:00", "%H:%M:%S").time()
    
    dinner_begin = datetime.strptime("18:00:00", "%H:%M:%S").time()
    dinner_end = datetime.strptime("20:00:00", "%H:%M:%S").time()
    
    if (time > breakfast_begin and time < breakfast_end or time > lunch_begin and time < lunch_end or time > dinner_begin and time < dinner_end ):
        
        fasting_state  = "non-fasting"
    
    else:
        
        fasting_state  = "fasting"
        
    return fasting_state

In [21]:
df_glucose["fasting_state"] = df_glucose.apply(give_fasting_state, axis=1)

In [24]:
df_glucose.to_csv("simglucose_data.csv", sep='\t')

# Adding Fasting states to overnight fasting

In [3]:
df_glucose_overnight = pd.read_csv('path', index_col=0, sep='\t')

In [17]:
df_glucose_overnight

,id,time,gl,phase,label,axis1,axis2,axis3,steps,lux,inclineOff,inclineStanding,inclineSitting,inclineLying,vm,joinID
0,1,2020-06-23 12:38:00+00:00,125.0,screening,Undefined,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2020-06-23 12:45:00+00:00,120.0,screening,Undefined,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2020-06-23 12:45:00+00:00,121.0,screening,Undefined,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2020-06-23 12:53:00+00:00,114.0,screening,Undefined,705.0,593.0,1321.0,8.0,0.0,0.0,60.0,0.0,0.0,1611.0,NaN
4,1,2020-06-23 13:09:00+00:00,107.0,screening,Undefined,363.0,266.0,578.0,16.0,0.0,0.0,0.0,1.0,59.0,733.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112974,47,2021-12-07 07:06:00+00:00,108.0,lTRE,Undefined,5565.0,5930.0,5865.0,36.0,0.0,0.0,60.0,0.0,0.0,10027.0,NaN
112975,47,2021-12-07 07:21:00+00:00,110.0,lTRE,Undefined,2043.0,2564.0,3787.0,15.0,0.0,0.0,60.0,0.0,0.0,5009.0,NaN
112976,47,2021-12-07 07:36:00+00:00,110.0,lTRE,Undefined,NaN,171.0,112.0,0.0,0.0,0.0,15.0,45.0,0.0,205.0,47.lTRE.2021-12-07
112977,47,2021-12-07 07:51:00+00:00,109.0,lTRE,Undefined,4.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,60.0,4.0,NaN
112978,47,2021-12-07 08:45:00+00:00,100.0,lTRE,Undefined,23.0,7.0,NaN,1.0,0.0,60.0,0.0,0.0,0.0,25.0,47.lTRE.2021-12-07

In [4]:
df_glucose_overnight["time"] = df_glucose_overnight["time"].replace(['2020-09-02 22:04:59.995000+00:00'], '2020-09-02 22:04:00+00:00')

df_glucose_overnight = df_glucose_overnight.sort_values(by=['id', 'time'], ascending=True)

In [8]:
overnight_overlap = datetime.strptime(("23:00:00"), "%H:%M:%S")
overnight_overlap =  overnight_overlap.strftime('%H:%M:%S')
overnight_overlap = datetime.strptime(overnight_overlap,'%H:%M:%S').time()


for index_1, row_df in df_glucose_overnight.iterrows():
        
    
    for index_2, row_df_fasting in df_fasting_times_all.iterrows():
        
        
        ###### from merged df ######
        try:
            time_df_merged = datetime.strptime(str(row_df["time"]), "%Y-%m-%d %H:%M:%S%z")
            date_df_merged = time_df_merged.strftime('%Y-%m-%d')
            date_df_merged = datetime.strptime(date_df_merged,'%Y-%m-%d')

            min_df_merged =  time_df_merged.strftime('%H:%M:%S')
            min_df_merged = datetime.strptime(min_df_merged,'%H:%M:%S').time()
        except:
            time_df_merged = datetime.strptime(str(row_df["time"]), "%Y-%m-%d %H:%M:%S+%z")
            date_df_merged = time_df_merged.strftime('%Y-%m-%d')
            date_df_merged = datetime.strptime(date_df_merged,'%Y-%m-%d')

            min_df_merged =  time_df_merged.strftime('%H:%M:%S')
            min_df_merged = datetime.strptime(min_df_merged,'%H:%M:%S').time()        
        ###### from fasting df #######
        # day
        
        time_fasting = datetime.strptime(str(row_df_fasting["time"]), "%Y-%m-%d %H:%M:%S")
        date_fasting = time_fasting.strftime('%Y-%m-%d')
        date_fasting = datetime.strptime(date_fasting,'%Y-%m-%d')
        
        # minutes

        begin_non_fasting = datetime.strptime(str(row_df_fasting["Beginn erste Mahlzeit"]), "%H:%M:%S")
        begin_non_fasting =  begin_non_fasting.strftime('%H:%M:%S')
        begin_non_fasting = datetime.strptime(begin_non_fasting,'%H:%M:%S').time()


        if not row_df_fasting["Beginn letzte Mahlzeit"] == "nan":
            end_non_fasting = datetime.strptime(str(row_df_fasting["Beginn letzte Mahlzeit"]), "%H:%M:%S")
            end_non_fasting =  end_non_fasting.strftime('%H:%M:%S')
            end_non_fasting = datetime.strptime(end_non_fasting,'%H:%M:%S').time()
            


        
        if row_df["id"] == row_df_fasting["id"] and row_df["phase"] == row_df_fasting["phase"] and date_df_merged == date_fasting:
            
            if begin_non_fasting < end_non_fasting:
                # begin_non_fasting 10 Uhr
                # end_non_fasting  22 Uhr
                if min_df_merged >= begin_non_fasting and min_df_merged < end_non_fasting:
                    df_glucose_overnight.at[index_1,'label']  = "non-fasting" 
            else: 
                
                if min_df_merged >= begin_non_fasting and min_df_merged < overnight_overlap:
                    # nicht fastenzustand
                    df_glucose_overnight.at[index_1,'label']  = "non-fasting"

In [9]:
df_glucose_overnight.to_csv(".csv", sep='\t')